<div class="dashboard-widgets">
    <!-- Widget 1 : Montant Total des Crédits -->
    <div class="widget">
      <div class="icon-container">
        <i class="material-icons">attach_money</i>
      </div>
      <div class="widget-info">
        <h3>Montant Total</h3>
        <p class="value">1 500 000 €</p>
        <p class="sub-info">Crédits émis</p>
      </div>
    </div>
  
    <!-- Widget 2 : Répartition Crédits Accordés / En Attente -->
    <div class="widget">
      <div class="icon-container">
        <i class="material-icons">trending_up</i>
      </div>
      <div class="widget-info">
        <h3>Crédits Accordés</h3>
        <p class="value">80%</p>
        <p class="sub-info">En attente : 20%</p>
      </div>
    </div>
  
    <!-- Widget 3 : Remboursés vs Défaut -->
    <div class="widget">
      <div class="icon-container">
        <i class="material-icons">thumb_up</i>
      </div>
      <div class="widget-info">
        <h3>Remboursés</h3>
        <p class="value">1 200</p>
        <p class="sub-info">Défaut de remboursement 300</p>
      </div>
    </div>
    
    <div class="widget">
        <div class="icon-container">
          <i class="material-icons">thumb_up</i>
        </div>
        <div class="widget-user">
          <h3>Total de Demandeur</h3>
          <p class="value">50</p>
          <p class="sub-info">homme & Femme</p>
        </div>
      </div>

      <div class="widget">
        <div class="icon-container">
          <i class="material-icons">thumb_up</i>
        </div>
        <div class="widget-user">
          <h3>Employée</h3>
          <p class="value">Respect Délai</p>
          <p class="sub-info">30/50</p>
        </div>
      </div>
    <!-- Widget 4 : Nouvelles Demandes de Crédit -->
    <div class="widget">
      <div class="icon-container">
        <i class="material-icons">assignment</i>
      </div>
      <div class="widget-info">
        <h3>Demandes de Crédit</h3>
        <p class="value">250</p>
        <p class="sub-info">Ce mois-ci</p>
      </div>
    </div>
  </div>
  <div class="transaction-history">
    <h3>Historique des Transactions</h3>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Type de Transaction</th>
          <th>Montant</th>
          <th>Statut</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>01/03/2025</td>
          <td>Crédit Accordé</td>
          <td>50 000 €</td>
          <td>Terminé</td>
        </tr>
        <tr>
          <td>15/03/2025</td>
          <td>Remboursement</td>
          <td>5 000 €</td>
          <td>En cours</td>
        </tr>
        <tr>
          <td>20/03/2025</td>
          <td>Crédit Refusé</td>
          <td>-</td>
          <td>N/A</td>
        </tr>
        <tr>
          <td>05/04/2025</td>
          <td>Crédit Accordé</td>
          <td>100 000 €</td>
          <td>En cours</td>
        </tr>
      </tbody>
    </table>
  </div>